/* Estilos para a página de visitantes externos */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos adicionais para informações específicas de visitantes externos */
.address {
    margin-top: 20px;
    font-style: italic;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
    
    nav ul li a {
        font-size: 1em;
    }
    
    h2 {
        font-size: 1.2em;
    }
}
